{% extends 'base.html' %}

{% block content %}
    <h2>Inscription</h2>
    {% if erreur %}
        <p class="text-danger">{{ erreur }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('inscription') }}">
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur: </label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirmation de mot de passe:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
    <p class="mt-3">Vous disposez déjà d'un compte ?<a href="{{ url_for('login') }}">Page de connexion</a></p>
{% endblock %}